/*clear float hack*/
.clearboth:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
.clearboth{display: inline-block;}
/* Holly Hack Targets IE Win only \*/
* html .clearboth{height:1%;}
.clearboth{display:block;}
/* End Holly Hack */

body{margin:0 auto;font-family:'宋体',arial;font-size:100%;text-align:center;background-color:#fff;color:#000;line-height:1.3;min-width:990px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
input,button{margin:0;padding:0;border:0 none;font-size:100%;font-family:'宋体',arial;}
button{cursor:pointer;vertical-align:top!important;vertical-align:baseline;}
*+html button{vertical-align:baseline!important;}
a{text-decoration:none;color:#000;}/*全局链接样式*/
a:hover{text-decoration:underline;}
.rmbfh{font-family:arial;}